header * {
  transition: 0.15s ease-in;
}

header * *:hover * {
  transform: translateY(1px);
  transition: transform 0.1s ease-in-out;
}

.intro-link > a span {
  transition: 0.15s ease-in;
}

.intro-link > a:hover * {
  color: var(--nice-blue);
}

.intro-link > a:hover span {
  transform: translateX(9px);
  transition: transform 0.17s ease-in;
}
