.home-nav,
.burger-links * {
  transition: 0.15s ease-in;
}

.home-nav:hover {
  transform: translateY(2%);
  transition: transform 0.14s ease-in-out;
}

.burger rect {
  transition: 0.15s ease-out;
}

.burger:hover rect {
  fill: var(--spiro-disco-ball) !important;
  transition: fill 0.1s ease-in;
}

.burger-links *:hover {
  color: var(--spiro-disco-ball);
}

.mobile-intro-navlinks nav li a:hover {
  background-color: var(--bg-beige);
  color: var(--spiro-disco-ball);
}

.intro-link > a span {
  transition: 0.15s ease-in;
}

.intro-link > a:hover * {
  color: var(--spiro-disco-ball);
}

.intro-link > a:hover span {
  transform: translateX(20%);
  transition: transform 0.17s ease-in-out;
}

.box-link:hover::before {
  content: "";
  right: 0;
  left: 0;
  bottom: 0.2rem;
  height: 0.1rem;
  background-color: var(--bg-dark-blue);
  border-radius: 55px;
  position: absolute;
  z-index: 100;
}
